
.icon-spin3:before { content: '\e800'; } /* '' */
.icon-spin2:before { content: '\e801'; } /* '' */
.icon-reply:before { content: '\e802'; } /* '' */
.icon-forward:before { content: '\e803'; } /* '' */
.icon-eye-off:before { content: '\e804'; } /* '' */
.icon-minus-squared:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-th-list:before { content: '\e808'; } /* '' */
.icon-download:before { content: '\e809'; } /* '' */
.icon-ok:before { content: '\e80a'; } /* '' */
.icon-link-ext-alt:before { content: '\e80b'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-cancel-circled:before { content: '\e80d'; } /* '' */
.icon-plus-squared:before { content: '\e80e'; } /* '' */
.icon-upload:before { content: '\e80f'; } /* '' */
.icon-download-cloud:before { content: '\e810'; } /* '' */
.icon-upload-cloud:before { content: '\e811'; } /* '' */
.icon-share-squared:before { content: '\e812'; } /* '' */
.icon-attention:before { content: '\e813'; } /* '' */
.icon-cog:before { content: '\e814'; } /* '' */
.icon-wrench:before { content: '\e815'; } /* '' */
.icon-lock:before { content: '\e816'; } /* '' */
.icon-lock-open:before { content: '\e817'; } /* '' */
.icon-scissors:before { content: '\e818'; } /* '' */
.icon-toggle-off:before { content: '\e819'; } /* '' */
.icon-toggle-on:before { content: '\e81a'; } /* '' */
.icon-facebook-squared:before { content: '\e81b'; } /* '' */
.icon-language:before { content: '\e81c'; } /* '' */
.icon-gplus-squared:before { content: '\e81d'; } /* '' */
.icon-tumblr-squared:before { content: '\e81e'; } /* '' */
.icon-cc:before { content: '\e81f'; } /* '' */
.icon-cw:before { content: '\e820'; } /* '' */
.icon-progress-1:before { content: '\e821'; } /* '' */
.icon-progress-2:before { content: '\e822'; } /* '' */
.icon-progress-3:before { content: '\e823'; } /* '' */
.icon-spin5:before { content: '\e825'; } /* '' */
.icon-picture:before { content: '\e826'; } /* '' */
.icon-block:before { content: '\e827'; } /* '' */
.icon-th-list-1:before { content: '\e828'; } /* '' */
.icon-trash:before { content: '\e829'; } /* '' */
.icon-paragraph:before { content: '\e82a'; } /* '' */
.icon-pencil:before { content: '\e82b'; } /* '' */
.icon-camera:before { content: '\e82c'; } /* '' */
.icon-hourglass:before { content: '\e82d'; } /* '' */
.icon-floppy:before { content: '\e82e'; } /* '' */
.icon-sliders:before { content: '\e82f'; } /* '' */
.icon-file-image:before { content: '\e830'; } /* '' */
.icon-folder:before { content: '\e831'; } /* '' */
.icon-folder-open:before { content: '\e832'; } /* '' */
.icon-th-large:before { content: '\e833'; } /* '' */
.icon-th:before { content: '\e834'; } /* '' */
.icon-eye:before { content: '\e835'; } /* '' */
.icon-thumbs-up:before { content: '\e836'; } /* '' */
.icon-thumbs-down:before { content: '\e837'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e838'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e839'; } /* '' */
.icon-share:before { content: '\e83a'; } /* '' */
.icon-zoom-in:before { content: '\e83b'; } /* '' */
.icon-zoom-out:before { content: '\e83c'; } /* '' */
.icon-resize-full:before { content: '\e83d'; } /* '' */
.icon-move-1:before { content: '\e83e'; } /* '' */
.icon-home:before { content: '\e83f'; } /* '' */
.icon-info:before { content: '\e840'; } /* '' */
.icon-cloud:before { content: '\e841'; } /* '' */
.icon-link-ext:before { content: '\e842'; } /* '' */
.icon-magic:before { content: '\e843'; } /* '' */
.icon-brush:before { content: '\e844'; } /* '' */
.icon-copyright:before { content: '\e845'; } /* '' */
.icon-instagramm:before { content: '\e846'; } /* '' */
.icon-paste:before { content: '\e847'; } /* '' */
.icon-ellipsis:before { content: '\e848'; } /* '' */
.icon-ajust:before { content: '\e849'; } /* '' */
.icon-tint:before { content: '\e84a'; } /* '' */
.icon-sort:before { content: '\e84b'; } /* '' */
.icon-sort-down:before { content: '\e84c'; } /* '' */
.icon-sort-up:before { content: '\e84d'; } /* '' */
.icon-eraser:before { content: '\e84e'; } /* '' */
.icon-at:before { content: '\e84f'; } /* '' */
.icon-android:before { content: '\e850'; } /* '' */